body {
    font-family: "ModeNine";
    min-height: 100vh;
    margin: 0;
    background-color:black;
    display: flex;
    flex-direction: column;
}

h1 {
    color: white;
    display: flex;
}

p {
    padding-top:50px;
    padding-bottom: 100px;
    color: white;
}

span {
    color: white;
}

.image {
    height: 300px;
    width: auto;
}

.image-containers {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;    
    gap: 50px;

}

.text {
    text-align: center;
    color: white;
}

.transparent {
    background-color: transparent;
    border: 0px;
}

* {
    /* outline: 2px solid red; */
}

div {
    color: white;
}

.score-counter{
    display: flex;
    font-size: 100px;
    justify-content: space-around
}
.score-label {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    font-size: 50px;

}


